<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title> <%=tittle %> </title>
    <style>
        *{
            padding: 0;
            margin: 0;
           font-family: sans-serif;
        }
        body{
            background-color: aliceblue;
        }
        h1{
            text-align: center;
            margin-top: 2%;
            color: aqua;
        }
    </style>
</head>
<body>
    <h1>Profile Page</h1>
    <h3>Name</h3>
    <p> <%=user.name %> </p>
    <h3>Email</h3>
    <p> <%=user.password %> </p>
</body>
</html>